body{
    background-color: grey;
    text-align: center;
    font-size: 17px;
}
ul li{
    list-style: none;
}
ol li{
    text-align: left;
    border: 1px black;
}
.paragras{
    font-weight: bold;
}
h2{
    text-decoration: underline;
}